@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Global utility to hide scrollbars. 
  Placed outside @layer to guarantee it compiles and is always available. 
*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}